// 在wxml里截取字符串的方法

var sub = function(val, start=0, end=0) {
  if (val.length == 0 || val == undefined) {
    return;
  }

  if (end == 0 && start > 0) {
    if (val.length > start) {
      // 如果内容比简略显示的字数长
      return val.substring(0, start) + "...";
    }
    else {
      // 内容很短，全部显示
      return val;
    }
  } 
  else {
    return val.substring(start, end);
  }
}
module.exports.sub = sub;
